body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-areas: 
      "header header"
      "sidebar nav"
      "sidebar article"
      "footer footer";
  grid-template-columns: 350px 1fr;
  gap: 10px;
  height: 100vh;
}

h2{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
header {
  grid-area: header;
  background-color: #006157;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.submain{
  background-color: #642cde;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.submain2 {
  background-color: #7E1DC3;
  color: #fff;
  padding: 5px;
  line-height: 1.5;
  margin-top: 10px;
  border-radius: 10px;
}

p {
  margin: 15px;
  font-weight: 550;
}

aside {
  grid-area: sidebar;
  background-color: #005B94;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

footer {
  grid-area: footer;
  background-color: #393f4d;
  color: white;
  padding: 10px;
  border-radius: 10px;
}